{% load static %}

html {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    min-height: 100%;
    position: relative;
}

body {
    margin: 0px;
    overflow: hidden;
    padding: 0px;
    height: 100%;
}

.marker {
    position: absolute;
    background: white;
}

.star-icon {
    width: 30px;
    height: 30px;
    margin-right: 20px;
    margin-left: 20px;
}

.root-container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: nowrap;
}

.aruco-field-container {
    height: 100%;
    background-color: #444444;
    padding: 0;
}

.aruco-field {
    padding: 0;
    margin: 0px;
    width: 100%;
    height: 100%;
}

.new-aruco-pic {
    transition: .3s;
    width: 0;
    height: 0;
}

.square {
    background-image: url("square.png");
}

.squares {
    background-image: url("squares.png");
}

.new-aruco {
    align-items: center;
    cursor: pointer;
    background-color: #009541;
    border-radius: 35px;
    width: 60px;
    height: 60px;
    position: absolute;
    LEFT: 50PX;
    bottom: 50px;
    transition: .3s;
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
    font-size: 0em;
    color: white;
    border-width: 0px;
    border-style: none;
    background-repeat: no-repeat;
    padding-top: 5px;
}

.new-aruco:focus {
    outline: 0;
}

.hidden {
    display: none;
}

.aruco-configer-container {
    transition: 1s;
    padding: 0;
    position: absolute;
    left: 100%;
    top: 20px;
    border-radius: 10px;
    height: auto;
    padding-right: 20px;
    padding-left: 20px;
    width: 500px;
    background-color: #DDDDDD;
}

.zoom {
    position: absolute;
    margin: 35px;
    width: 60px;
    height: 60px;
    transition: .3s;
    border-radius: 50%;
}

.zoom:hover {
    transition: .3s;
    -webkit-box-shadow: 0px 0px 27px 0px rgba(0, 0, 0, 0.65);
    -moz-box-shadow: 0px 0px 27px 0px rgba(0, 0, 0, 0.65);
    box-shadow: 0px 0px 27px 0px rgba(0, 0, 0, 0.65);
}

.in {
    top: 0px;
}

.out {
    top: 100px;
}

.field {
    position: absolute;
    background-color: white;
}

.mark {
    width: 50px;
    height: 50px;
}

#c {
    width: calc(100% - 0px);
    height: calc(100% - 0px);
}

.new-aruco-button {
    cursor: pointer;
    font-size: .7em;
    margin: 0px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    width: 200px;
    height: 50px;
    transition: .1s;
    align-items: center;
    align-content: center;
    text-align: right;
}

.new-aruco-button:hover {
    cursor: pointer;
    background-color: #008035;
    transition: .1s;
}

.new-aruco-header {
    font-size: .8em;
    height: 40px;
    padding: 6px;
    transition: .3s;
}

.aruco-plus {
    cursor: pointer;
    transition: .5s;
    width: 60px;
    height: 60px;
    left: 50px;
    position: absolute;
    bottom: 50px;
}

.aruco-send {
    cursor: pointer;
    transition: .25s;
    width: 60px;
    height: 60px;
    right: 50px;
    position: absolute;
    bottom: 50px;
    border-radius: 30px;
    background-color: url("galochka.svg");
}

.aruco-info {
    width: 100%;
    height: 100%;
    padding: 20px;
}

.context-menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 400px;
    transition: 0s;
    left: 100%;
    top: 100%;
    color: #111111;
    background-color: #EEEEEE;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.context-menu-item {
    font-size: .9em;
    height: 40px;
    padding: 8px;
    transition: .2s;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #EEEEEE;
}

.context-menu-item:hover {
    transition: .2s;
    cursor: pointer;
    background-color: #02a676;
}

.question-image {
    height: 50px;
    padding: 5px;
    right: 30px;
    position: absolute;
}

.question-image:hover {
    cursor: pointer;
}

.hint {
    position: absolute;
    left: 100%;
    top: 100%;
    background-color: white;
    width: auto;
    height: auto;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    padding: 20px;
    transition-duration: 0s;
}

.hint-content {
    transition: .5s;
    font-size: 1.1em;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.blocker {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 100%;
    bottom: 100%;
    transition: .2s;
    -webkit-box-shadow: inset 0px 0px 0px 10000px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: inset 0px 0px 0px 10000px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0px 0px 0px 10000px rgba(0, 0, 0, 0.5);
}

.width-menu {
    width: 300px;
}

.star-button {
    background-color: #2D6A70;
    margin-top: 25px;
    padding-top: 12px;
    padding-bottom: 12px;
    width: 100%;
    padding-left: auto;
    padding-right: auto;
    border: solid;
    border-radius: 5px;
    border-color: #2D6A70;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    color: white;
    font-size: 1.4em;
    justify-content: space-between;
}

.delete-button {
    margin-top: 25px;
    padding-top: 12px;
    padding-bottom: 12px;
    width: 100%;
    padding-left: auto;
    padding-right: auto;
    border: solid;
    border-radius: 5px;
    border-color: #CB444A;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    color: white;
    font-size: 1.4em;
    justify-content: space-between;
}

.star-button:hover {
    background-color: #3D7A80;
    border-color: #4D8A90;
}

.ply-red {
    color: #fff;
    cursor: pointer;
    border: 0;
    outline: 0;
    padding: 5px 10px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    background-color: #CB444A;
    border-radius: 5px;
    font-size: 18px;
}

.text-invalid {
    color: #CB444A;
}

.on-a-top {
    z-index: 10000;
    position: absolute;
    left: 145px;
    top: 8px;
}

.list-image {
    height: 30px;
    margin: 5px;
    width: auto;
}

.list-content {
    background-color: white;
    margin-bottom: 1px;
    width: 100%;
    display: flex;
    padding: 10px;
    flex-direction: row;
    justify-content: space-between;
}

.heading {
    padding: 15px;
    font-size: 1.2em;
}

.toggler {
    position: absolute;
    right: 30px;
    width: 100px;
    height: 40px;
    background-color: #676767;
    cursor: pointer;
    border-radius: 20px;
}

.toggler-element {
    width: 40px;
    height: 40px;
    background-color: #E84E2C;
    position: absolute;
    border-radius: 20px;
    right: 0px;
    transition: 1s;
}

.aruco-list-image {
    margin-right: 20px;
    width: auto;
    height: 20px;
    cursor: pointer;
}

.list-image-container {
    margin-right: 15px;
    width: 20px;
    height: auto;
}