html {
    height: 100%;
    overflow: hidden;
}

body {
    height: 100%;
}

.application {
    width: 300px;
    height: 130px;
    color: white;
    border-radius: 20px;
    margin: 10px;
    text-decoration: none;
    padding: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.application img {
    position: relative;
    width: 40px;
    height: 40px;
}

.application span {
    font-size: 1.6em;
}

.app-holder {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.scroll {
    position: absolute;
    color: darkgray;
    left: 140px;
    font-size: 1.1em;
    overflow: auto;
    height: 56px;
    padding: 15px;
}

.dropdown-item {
    cursor: pointer;
}

.page-holder {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100% - 56px);
    scroll-behavior: smooth;
}

.page {
    width: 100%;
    height: 100%;
}
