<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Clever Web</title>
    {% load static %}
    {% load staticfiles %}
    <script type="text/javascript" src="{% static "js/jquery.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/Ply.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/ply.css" %}">
    <link rel="stylesheet" href="{% static "mainPage/main.css" %}">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top" style="height: 57px;">
    <a href=".." class="navbar-brand">Clever Web</a>
    <span>:</span>
    <div class="dropdown">
        <!--class="dropdown"-->
        <!--class="btn btn-secondary dropdown-toggle"-->
        <button class="cool-button" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
            <div class="scroll" id="scroll-list">
                <div class="scroll-item"><span>Plugins</span></div>
                <div class="scroll-item"><span>Settings</span></div>
                <div class="scroll-item"><span>Documentation</span></div>
            </div>

        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" id="ddmenu"></div>
    </div>
</nav>
<div id="page-holder" class="page-holder">
    <div class="page" id="plugins">
        {% include "plugins.html" %}
    </div>
    <div class="page" id="settings">
        {% include "settings.html" %}
    </div>
    <div class="page" id="documentations">
        {% include "documentation.html" %}
    </div>
</div>
<script type="text/javascript" src="{% static "mainPage/main.js" %}"></script>
</body>
</html>