<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WiFi configuration</title>
    {% load static %}
    {% load staticfiles %}
    <script>
        var own_net_name = "{{ wifi.own_name }}";
        const vis_image_url = "{% static "mainPage/icons/visible.svg" %}";
        const invis_image_url = "{% static "mainPage/icons/invisible.svg" %}";
    </script>
    <script type="text/javascript" src="{% static "js/jquery.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "mainPage/main.css" %}">
    <link rel="stylesheet" href="{% static "mainPage/wifi.css" %}">
</head>
<body>
{% include "navbar.html" %}
<div style="display: flex; align-items: center; justify-content: center; height: calc(100% - 56px);">
    <div style="padding-bottom: 50px;">
        <div class="title-holder"><h3 id="title">AP</h3><label class="switch">
            <input id="toggler" onchange="swap(true);" type="checkbox">
            <span class="slider round"></span>
        </label></div>
        <div class="form-group col-md-auto">
            <label for="inputSSID">SSID</label>
            <div id="ssid_content">
                <select id="inputSSID" class="form-control">
                    <option selected>{{ wifi.current }}</option>
                </select>
            </div>
            <small id="ssidHelp2" class="form-text text-muted">WiFi hotspot configuration that Clever can connect
            </small>
        </div>
        <div class="form-group col-md-auto">
            <label for="password">Password</label>
            <div class="input-group">
                <input placeholder="Password" value="{{ wifi.pass }}" type="password" name="password" id="password"
                       class="form-control" data-toggle="password">
                <div class="input-group-append">
                <span id="password-toggler" onclick="showPassword()" class="input-group-text input-password-hide"
                      style="cursor: pointer;"><img
                        class="vis-icon" id="toggler-icon"
                        src="{% static "mainPage/icons/visible.svg" %}"
                        alt=""/></span>
                </div>
            </div>
        </div>
        <div class="btn-group" style="margin-left: 15px;" role="group">
            <button id="butt_ref" type="button" onclick="refresh()" class="btn btn-secondary">Refresh</button>
            <button id="butt_save" type="button" onclick="connect()" class="btn btn-success">Connect</button>
        </div>
    </div>
</div>
<script type="text/javascript" src="{% static "mainPage/wifi.js" %}"></script>
</body>
</html>